Question 1:

'While' loop is used when we need to end the loop on the condition other than the number of times .'for' loop is used when the number of iterations are known.

In [3]:
l=[4,5,6,7,8]
for i in l:
    print(i)

4
5
6
7
8

In [2]:
i=0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

Question:2

In [4]:
#Using for loop

n=10
sum_result=0 
mul_result=1
for i in range(1,n+1):
    sum_result=sum_result+i
    mul_result=mul_result*i
    
print(f"The sum of first 10 natural numbers is :{sum_result} ")
print(f"The product of first 10 natural numbers is :{mul_result} ")

The sum of first 10 natural numbers is :55
The product of first 10 natural numbers is :3628800

In [5]:
#Using while loop

i=1
sum_result=0 
mul_result=1
while(i<=10):
    sum_result=sum_result+i
    mul_result=mul_result*i
    i=i+1
    
print(f"The sum of first 10 natural numbers is :{sum_result} ")
print(f"The product of first 10 natural numbers is :{mul_result} ")

The sum of first 10 natural numbers is :55
The product of first 10 natural numbers is :3628800

Question:3

In [21]:
charges=(4.5,6,10,20)
electricity=int(input("Enter the electricity consumed in units:"))
bill=0
val=int(electricity/100)
mod=electricity%100
if(val==0):
    bill=bill+mod*charges[val]
elif(val==1):    
    bill=bill+100*charges[0]+mod*charges[val]
elif(val==2):    
    bill=bill+100*charges[0]+100*charges[1]+mod*charges[val]
elif(val==3 ):    
    bill=bill+100*charges[0]+100*charges[1]+100*charges[2]+mod*charges[val]
elif(val>3):
    bill=bill+100*charges[0]+100*charges[1]+100*charges[2]+(electricity-300)*charges[3]
    
print(f"The bill for {electricity} units of  electricity consumed is:{int(bill)}")

Enter the electricity consumed in units: 350

The bill for 350 units of  electricity consumed is:3050

QUESTION 4

In [18]:
#Using for loop

l=list(range(1,101))
new_list=[]
for i in l:
    val=i**3
    if(val %4 ==0 or val %5==0):
        new_list.append(val)
print(new_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [19]:
#Using wile loop

new_list=[]
i=1
while(i<101):
    value=i**3
    if(value %4 ==0 or value %5==0):
        new_list.append(value)
    i=i+1
print(new_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Question 5

In [20]:
string = "I want to become a data scientist"
l=['a','e','i','o','u']
result=0
for i in l:
    result=result+string.count(i)
print(result)

11